*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background: #120929;
  position: relative;
  aside{
    .container{
      max-width: 100%;
      .box{
        border-radius: 8px 0px 0px 8px;
        background: linear-gradient(0deg, rgba(28, 35, 64, 0.00) -5.79%, #1C0F54 114.59%);
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        width: 220px;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: absolute;
        .polygon{
          img{
          width: 70px;
          transform: rotate(10deg);
          position: absolute;
          top: 400px;
          right: -20px;
          }
        }
        .logo{
          text-shadow: 0px 5px 12px rgba(6, 5, 19, 0.25);
          font-size: 24px;
          font-weight: 800;
          letter-spacing: 1.2px;
          text-decoration: underline;
          color: #3887FE;
          margin-bottom: 40px;
          margin-top: 30px;
        }
        nav{
          display: flex;
          flex-direction: column;
          .item{
            height: 48px;
            display: flex;
            align-items: center;
            gap: 16px;
            padding: 15px;
            a{
              text-decoration: none;
              color: #616A8B;
              font-family: Open Sans;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              text-transform: capitalize;
              font-family: sans-serif;
            }
          }
          .active{
            background-color: #32395E;
            border-radius: 5px;
            border-bottom: 2px solid #1288E8;
            a{
              color: white;
            }
          }
        }
        footer{
          border-top: 2px solid #1288E8;
          width: 180px;
          padding: 26px 0;
          margin-top: 200px;
          .item{
            height: 48px;
            display: flex;
            align-items: center;
            gap: 16px;
            padding: 15px;
            span{
              color: #616A8B;
              font-family: sans-serif;
              font-weight: bold;
            }
            .log_out{
              background: none;
              border: none;
              color: #616A8B;
              font-family: Open Sans;
              font-size: 14px;
              font-weight: bold;
              text-transform: capitalize;
              font-family: sans-serif;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  main{
    padding-left: 220px;
    .container{
      .main_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px;
        border-bottom: 2px solid #2D317A;
        margin: 0 20px;
        .search_box{
          display: flex;
          justify-content: center;
          align-items: center;
          input{
            background-color: #161245;
            width: 290px;
            height: 30px;
            border-radius: 10px 0 0 10px;
            border: none;
            outline: none;
            padding: 0 10px;
            color: white;
          }
          button{
            background-color: #161245;
            border: none;
            border-radius: 0 10px 10px 0;
            width: 30px;
            height: 30px;
            padding: 4px 35px 0 0;
          }
        }
        .main_top_btn{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 38px;
          span{
            color: grey;
            font-weight: bold;
          }
          button{
            background: none;
            border: none;
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
  section{
    .container{
      padding: 20px;
      .page_name{
        color: white;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: bold;
      }
      .contain{
        display: flex;
        flex-direction: column;
        .card_box{
          padding: 20px 0;
          width: 100%;
          height: 100%;
          display: flex;
          gap: 20px;
          .card{
            padding: 20px;
            width: 100%;
            height: 180px;
            background-color: #2D317A;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #616A8B;
            span{
              font-size: 25px;
            }
            p{
              font-size: 15px;
            }
          }
          .main_card{
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 20px;
            background: linear-gradient(180deg, rgba(27, 18, 78, 0.20) 0%, #0F0B38 93.37%);
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
            p{
              color: #616A8B;
              font-size: 20px;
            }
            canvas{
              width: 100px !important;
              height: 100px !important;
            }
            .percentage{
              display: flex;
              flex-direction: column;
              gap: 10px;
            }
          }
          #one{
            background: linear-gradient(45deg, #0F0B38, #604392);
          }
          #two{
            background: linear-gradient(45deg, #0F0B38, #6162D6);
          }
          #three{
            background: linear-gradient(45deg, #0F0B38, #469123);
          }
        }
        .details{
          width: 100%;
          height: 360px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          .chart{
            width: 100%;
            height: 100%;
          }
          .transaction{
            width: 100%;
            height: 100%;
            padding: 20px 20px;
            background: linear-gradient(45deg, #1B124E33, #0F0B38);
            .transact_title{
              color: white;
              hr{
                margin: 20px 0;
              }
            }
            .transact_box{
              display: flex;
              flex-direction: column;
              gap: 20px;
              .transact_item{
                display: flex;
                justify-content: space-between;
                color: #616A8B;
                .item_left{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.black_bg{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  .r_u_sure{
    width: 300px;
    height: 200px;
    background-color: #120929;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    font-size: 24px;
    .sure_btn{
      display: flex;
      gap: 20px;
      button{
        width: 100px;
        height: 40px;
        background-color: #1C0F54;
        color: white;
        border: none;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

.bg_add_wallet{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  .add_wallet_modal{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(135deg, #120929, #0F0B38);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    position: relative;
    .close_btn{
      width: 25px;
      height: 25px;
      background: none;
      border-radius: 50%;
      border: none;
      position: absolute;
      top: 30px;
      right: 30px;
      background-color: #120929;
      cursor: pointer;
    }
    form{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      input{
        width: 300px;
        height: 40px;
        padding: 0 10px;
        outline: none;
      }
      select{
        width: 300px;
        height: 40px;
        padding: 0 10px;
        outline: none;
        option{
          background-color: grey;
          font-weight: bold;
          color: black;
        }
      }
      .add_wallet_btns{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        button{
          width: 120px;
          height: 30px;
          background-color: #2D317A;
          border-radius: 8px;
          border: none;
          cursor: pointer;
          color: white;
          margin-top: 40px;
          font-weight: bold;
          box-shadow: 0 0 15px black;
        }
      }
    }
  }
}


